<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588416224943-hmsqu7gpmmgp9obggfab2hhgkf7musj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588416224943-hmsqu7gpmmgp9obggfab2hhgkf7musj1</string>
	<key>API_KEY</key>
	<string>AIzaSyAEVIiL_djk5FSHo7rCKY-AmDanpdISVRo</string>
	<key>GCM_SENDER_ID</key>
	<string>588416224943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusEvents</string>
	<key>PROJECT_ID</key>
	<string>campus-events-427b0</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-events-427b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588416224943:ios:a16294240b17f4304a0e5a</string>
</dict>
</plist>